@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@source inline('{xs:,sm:,md:,lg:,xl:,2xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{xs:,sm:,md:,lg:,xl:,2xl:,}grid-rows-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{xs:,sm:,md:,lg:,xl:,2xl:,}col-span-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{xs:,sm:,md:,lg:,xl:,2xl:,}row-span-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{xs:,sm:,md:,lg:,xl:,2xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}');
@source inline('{xs:,sm:,md:,lg:,xl:,2xl:,}gap-{0,0.5,1,1.5,2,2.5,3,3.5,4,5,6,7,8,9,10,11,12,14,16,20,24,28,32,36,40,44,48,52,56,60,64,72,80,96}');

@font-face {
  font-family: 'Hyundai Sans Head Office';
  src: local('Hyundai Sans Head Office'), local('Hyundai-Sans-Head-Office'),
       url('/fonts/HyundaiSansHeadOffice-Regular.woff2') format('woff2'),
       url('/fonts/HyundaiSansHeadOffice-Regular.woff') format('woff'),
       url('/fonts/HyundaiSansHeadOffice-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hyundai Sans Head Office';
  src: local('Hyundai Sans Head Office'), local('Hyundai-Sans-Head-Office'),
       url('/fonts/HyundaiSansHeadOffice-Bold.woff2') format('woff2'),
       url('/fonts/HyundaiSansHeadOffice-Bold.woff') format('woff'),
       url('/fonts/HyundaiSansHeadOffice-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Hyundai Sans Head Office';
  src: local('Hyundai Sans Head Office'), local('Hyundai-Sans-Head-Office'),
       url('/fonts/HyundaiSansHeadOffice-Medium.woff2') format('woff2'),
       url('/fonts/HyundaiSansHeadOffice-Medium.woff') format('woff'),
       url('/fonts/HyundaiSansHeadOffice-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}


@theme {
  --font-sans: "Hyundai Sans Head Office", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* HMMI Color Set */
  --color-hmmi-black-100: oklch(0 0 0);
  --color-hmmi-black-90: oklch(0 0 0 / 90%);
  --color-hmmi-black-80: oklch(0 0 0 / 80%);
  --color-hmmi-black-70: oklch(0 0 0 / 70%);
  --color-hmmi-black-60: oklch(0 0 0 / 60%);
  --color-hmmi-black-50: oklch(0 0 0 / 50%);
  --color-hmmi-black-40: oklch(0 0 0 / 40%);
  --color-hmmi-black-30: oklch(0 0 0 / 30%);
  --color-hmmi-black-20: oklch(0 0 0 / 20%);
  --color-hmmi-black-10: oklch(0 0 0 / 10%);

  --color-hmmi-white-100: oklch(1 0 0);
  --color-hmmi-white-90: oklch(1 0 0 / 90%);
  --color-hmmi-white-80: oklch(1 0 0 / 80%);
  --color-hmmi-white-70: oklch(1 0 0 / 70%);
  --color-hmmi-white-60: oklch(1 0 0 / 60%);
  --color-hmmi-white-50: oklch(1 0 0 / 50%);
  --color-hmmi-white-40: oklch(1 0 0 / 40%);
  --color-hmmi-white-30: oklch(1 0 0 / 30%);
  --color-hmmi-white-20: oklch(1 0 0 / 20%);
  --color-hmmi-white-10: oklch(1 0 0 / 10%);

  --color-hmmi-primary-900: oklch(0.3141 0.1082 272.95);
  --color-hmmi-primary-800: oklch(0.3731 0.1362 272.64);
  --color-hmmi-primary-700: oklch(0.4456 0.1681 271.93);
  --color-hmmi-primary-600: oklch(0.5303 0.2056 271.89);
  --color-hmmi-primary-500: oklch(0.5679 0.2214 271.74);
  --color-hmmi-primary-400: oklch(0.6486 0.1762 274.64);
  --color-hmmi-primary-300: oklch(0.7028 0.1464 276.35);
  --color-hmmi-primary-200: oklch(0.7952 0.0983 278.8);
  --color-hmmi-primary-100: oklch(0.862 0.0641 279.13);
  --color-hmmi-primary-50: oklch(0.955 0.0202 279.94);

  --color-hmmi-grey-900: oklch(0.2146 0.0292 266.16);
  --color-hmmi-grey-800: oklch(0.2792 0.0267 260.02);
  --color-hmmi-grey-700: oklch(0.3716 0.0291 266.45);
  --color-hmmi-grey-600: oklch(0.4446 0.0232 262.88);
  --color-hmmi-grey-500: oklch(0.5501 0.0222 272.98);
  --color-hmmi-grey-400: oklch(0.7128 0.018 271.16);
  --color-hmmi-grey-300: oklch(0.8724 0.0089 264.52);
  --color-hmmi-grey-200: oklch(0.9273 0.0046 258.33);
  --color-hmmi-grey-100: oklch(0.967 0.0029 264.54);
  --color-hmmi-grey-50: oklch(0.9846 0.0017 247.84);

  --color-hmmi-green-900: oklch(0.376 0.0829 148.42);
  --color-hmmi-green-800: oklch(0.4522 0.1031 148.07);
  --color-hmmi-green-700: oklch(0.5405 0.1257 147.96);
  --color-hmmi-green-600: oklch(0.6478 0.1536 147.97);
  --color-hmmi-green-500: oklch(0.6929 0.1653 147.87);
  --color-hmmi-green-400: oklch(0.7481 0.136 149.23);
  --color-hmmi-green-300: oklch(0.7879 0.1162 150.02);
  --color-hmmi-green-200: oklch(0.8525 0.0798 150.74);
  --color-hmmi-green-100: oklch(0.9005 0.0535 151.84);
  --color-hmmi-green-50: oklch(0.9677 0.0173 153.57);

  --color-hmmi-red-900: oklch(0.3443 0.103 26.44);
  --color-hmmi-red-800: oklch(0.4127 0.1289 25.84);
  --color-hmmi-red-700: oklch(0.4942 0.158 26.26);
  --color-hmmi-red-600: oklch(0.5927 0.1928 26.79);
  --color-hmmi-red-500: oklch(0.6345 0.2075 26.72);
  --color-hmmi-red-400: oklch(0.6875 0.1688 24.22)
  --color-hmmi-red-300: oklch(0.7325 0.1402 23.17);
  --color-hmmi-red-200: oklch(0.8095 0.0926 20.93);
  --color-hmmi-red-100: oklch(0.8697 0.0609 20.9);
  --color-hmmi-red-50: oklch(0.9566 0.0185 17.48);

  --color-hmmi-yellow-900: oklch(0.4278 0.0899 75.86);
  --color-hmmi-yellow-800: oklch(0.5185 0.109 75.69);
  --color-hmmi-yellow-700: oklch(0.6228 0.1317 74.43);
  --color-hmmi-yellow-600: oklch(0.7476 0.158692 73.6843);
  --color-hmmi-yellow-500: oklch(0.8016 0.1705 73.27);
  --color-hmmi-yellow-400: oklch(0.8342 0.1594 79.51);
  --color-hmmi-yellow-300: oklch(0.8574 0.1437 81.87);
  --color-hmmi-yellow-200: oklch(0.8986 0.1059 83.84);
  --color-hmmi-yellow-100: oklch(0.9306 0.0737 84.8);
  --color-hmmi-yellow-50: oklch(0.9778 0.0239 85.79);

  --color-hmmi-blue-900: oklch(0.358 0.094758 247.2796);
  --color-hmmi-blue-800: oklch(0.4292 0.1171 248.56);
  --color-hmmi-blue-700: oklch(0.5148 0.1431 249.32);
  --color-hmmi-blue-600: oklch(0.6168 0.1738 249.83);
  --color-hmmi-blue-500: oklch(0.6602 0.187767 250.1786);
  --color-hmmi-blue-400: oklch(0.713 0.1605 245.09);
  --color-hmmi-blue-300: oklch(0.7531 0.1385 242.68);
  --color-hmmi-blue-200: oklch(0.8242 0.097573 240.7678);
  --color-hmmi-blue-100: oklch(0.8793 0.0662 239.69);
  --color-hmmi-blue-50: oklch(0.96 0.021 241.35);
}


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  *::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-background rounded-full hover:bg-gray-400 transition-colors;
    border: 2px solid #d9d9d9;
  }

  *::-webkit-scrollbar-track {
    @apply bg-[#D9D9D9] rounded-full;
  }
}
